.UploadForm label {
  display: block;
  margin-bottom: 10px;
}

.UploadForm input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

.UploadForm button {
  background-color: #0077ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.UploadForm button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

